h1 {
  color: yellow;
  margin: 0.5em 2em;
  text-align: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  margin: 1em 0 0.1em 0;
}
p {
  margin: 0.3em 0;
  text-align: center;
}

.btn {
  padding: 1em 10em;
  background-color: tomato;
  border-radius: 15px;
  border: none;
  color: white;
  margin: 0.5em 2em;
}

.generate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
